body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.container{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 99%;
}
.header{
    /* display: flex; */
    text-align: center;
    width: 100%;
}
.logo {
    padding: 15px;
    text-align: center;
    width: 350px;
}
.part1{
    width: 100%;
    display: flex;
    justify-content: center;
    background:#eeeeee;
}
.form{
    width: 20%;
    display: flex;
    flex-direction: column;
    text-align: center;
    /* align-items: center; */
}
.buttons{
    display: flex;
    justify-content: space-evenly;
}
.boxes{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    gap: 3px;
    padding: 3px;
}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box1{
    background: #7ee5da;
}
.box2{
    background: #70ccc2;
}
.box3{
    background: #62b3aa;
}
.footer{
    text-align: center;
}